<!-- Sidebar Component -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-dashboard'></i>
        <span class="text">ODCI Admin</span>
    </a>

    <ul class="side-menu top">
        <li>
            <a href="dashboard.php">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
            <div class="tooltip">Dashboard</div>
        </li>
        <li>
            <a href="users.php">
                <i class='bx bxs-group'></i>
                <span class="text">Users</span>
            </a>
            <div class="tooltip">Users</div>
        </li>
        <li>
            <a href="departments.php">
                <i class='bx bxs-buildings'></i>
                <span class="text">Departments</span>
            </a>
            <div class="tooltip">Departments</div>
        </li>
        <li>
            <a href="files.php">
                <i class='bx bxs-file'></i>
                <span class="text">Files</span>
            </a>
            <div class="tooltip">Files</div>
        </li>
        <li>
            <a href="folders.php">
                <i class='bx bxs-folder'></i>
                <span class="text">Folders</span>
            </a>
            <div class="tooltip">Folders</div>
        </li>
        <li>
            <a href="social_feed.php">
                <i class='bx bx-news'></i>
                <span class="text">Social Feed</span>
            </a>
            <div class="tooltip">Social Feed</div>
        </li>
        <li>
            <a href="reports.php">
                <i class='bx bxs-report'></i>
                <span class="text">Reports</span>
            </a>
            <div class="tooltip">Reports</div>
        </li>
    </ul>

    <ul class="side-menu">
        <li>
            <a href="settings.php">
                <i class='bx bxs-cog'></i>
                <span class="text">System Settings</span>
            </a>
            <div class="tooltip">System Settings</div>
        </li>
        <li>
            <a href="activity_logs.php">
                <i class='bx bxs-time'></i>
                <span class="text">Activity Logs</span>
            </a>
            <div class="tooltip">Activity Logs</div>
        </li>
        <li>
            <a href="../../logout.php" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
            <div class="tooltip">Logout</div>
        </li>
    </ul>
</section>